/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  color: #1a1a1a;
  background-color: #63121b;
  padding: 1rem;
}

/* Custom font - Google Font (Poppins for headings, fun and modern) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 5rem;
}

h2 {
  font-size: 1.5rem;
  border-left: 5px solid #cc9900;
  padding-left: 0.75rem;
}

p {
  color: #ffffff;
  margin-bottom: 1rem;
}

/* Links */
a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #cc9900;
}

a:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

a:active {
  color: #ffde00;
}

a:focus {
  border: 2px dotted #cc9900;
}

div {
  color: #63121b;
  background-color: #63121b;
}

/* Skip Link */
.skip-link {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
  position: relative;
  top: 0;
  left: 2rem;
  color: #ffffff;
  padding: 8px;
  z-index: 1;
}

.skip-link:focus {
  top: 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

/* Navigation */
header {
  margin: 2rem 0;
}

nav ul {
  font-size: 1.25rem;
  margin-bottom: 5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* background-color: #fff; */
  /* padding: 0.75rem 1rem;
  border-radius: 50px; */
}

nav a {
  color: #ffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 30px;
  transition: background 0.2s;
}

nav a:hover {
  color: #ffde00;
  text-decoration: none;
}

nav a[aria-current="page"] {
  background-color: #ffde00;
  color: #2b0000;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #1a1a1a; */
  border-radius: 20px;
  margin-bottom: 2rem;
}

.hero-overlay h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;

  background-image: url("../images/beijing.jpg");
  background-size: cover;
  background-position: 35% 35%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  text-shadow: 2px 2px 4px #b6b5b51c;
}

.hero-overlay p {
  font-size: 1.25rem;
  color: #ffde00;
  font-weight: 600;
  background-color: transparent;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 30px;
}

/* Contact Form */
.contact-form {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #4a0202;
  border-radius: 16px;
}

.contact-form label {
  font-family: "Poppins", sans-serif;
  color: #ffde00;
  display: inline-block;
  margin: 0.5rem 2rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  font-family: "Poppins", sans-serif;
  width: 80%;
  padding: 0.5rem;
  margin: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
}

.contact-form button {
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  padding: 0.45rem 1rem;
}

/* Explore Button */
.hero-button {
  margin: 4% auto;
}

a.btn-explore {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border: 1px solid #fff;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
  letter-spacing: 3px;
}

.btn-explore:hover {
  background-color: #ffffff8f;
  color: #63121b;
  text-decoration: none;
  transform: scale(1.05);
}

/* Main Content */
.intro {
  text-align: center;
  margin: 3rem 0;
}

.intro p {
  font-size: 1.25rem;
  color: #ffde00;
  margin-top: 1.5rem;
}

/* Photo Gallery */
.photo-gallery {
  display: block;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: 20rem 20rem;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

figure {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
}

figure img {
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #fff;
}

.featured:hover .overlay {
  opacity: 0;
}

.overlay {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.78;
  transition: 0.3s ease;
  background-color: #63121b;
}

.text {
  backdrop-filter: blur(15px);
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Table */
table {
  display: table;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-collapse: collapse;
}

.table {
  display: block;
  width: 100%;
}

th,
td {
  padding: 10px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

th {
  color: #ffde00;
}

td {
  color: white;
}

/* Grids */
.grid-fun-facts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

/* Flavor Map */
.flavor-map {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Quick Navigation */
.quick-nav {
  text-align: center;
  margin-top: 5rem;
}

/* Image Credits */
.image-credits {
  padding: 1rem;
  margin: 2rem 2rem;
  color: #ffde00;
  margin-top: 2rem;
}

.image-credits ul {
  font-size: 1.25rem;
  list-style-type: "🀄";
}

/* Blockquote */
.blockquote {
  text-align: center;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
}

/* Video */
.video {
  text-align: center;
  margin: 2rem 0;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #6b4f02;
  margin-top: 5rem;
  padding: 1rem 2rem 0 2rem;
}

/* Mobile to Desktop */
@media (min-width: 320px) {
  body {
    padding: 1rem;
  }

  .hero-overlay h1 {
    font-size: 8rem;
  }

  .photo-gallery {
    display: block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .table {
    table-layout: auto;
    display: block;
    max-width: 320px;
    text-align: left;
    overflow-x: scroll;
  }

  .overlay {
    opacity: 0.78;
  }

  .flavor-map {
    margin: 2rem 2rem;
  }

  .video iframe {
    width: 100%;
    height: 100%;
  }
}

@media (hover: hover) {
  .featured:hover .overlay {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
  }

  .hero-overlay h1 {
    font-size: 35rem;
  }

  .photo-gallery {
    /* grid-template-columns: 30rem 30rem;
    grid-template-rows: 20rem 20rem; */
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .table {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-fun-facts {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1920px) {
  body {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-overlay h1 {
    font-size: 35rem;
  }

  .photo-gallery {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 20rem 20rem;
  }

  .table {
    display: table;
    text-align: center;
    justify-content: center;
    table-layout: auto;
    /* max-width: 1800px; */
  }

  .video iframe {
    width: 600px;
    height: 315px;
  }
}
